# Archivos específicos del proyecto
HELP.md

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Archivos de entorno de desarrollo

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### STS (Spring Tool Suite) ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos del sistema
.DS_Store
Thumbs.db

# Android Studio / Proyectos Android
*.apk
*.ap_
*.dex
*.class
*.log
*.hprof
*.so
*.jar
*.keystore
*.jks
*.cxx/
captures/
.externalNativeBuild/
.cxx/
local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
app/build/

# Node / Tailwind / Web
node_modules/
dist/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema de cache de Tailwind JIT
.tailwind-config.js
tailwind.config.js
.postcssrc.js
*.css.map
*.js.map
/.metadata/

#Proyecto
Backend/src/main/resources/application.properties
Backend/src/main/resources/variables.env
